<div style="height: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div>Category {{categoryName}} {{categoryId}}</div>
    <button *ngIf="true == true" class="btn btn-labeled btn-success">New</button>
</div>



<div class="table-responsive" style="height:600px;">
    <table class="table table-dark">
        <!-- table-hover -->
        <thead>
            <th>id:</th>
            <th></th>
            <th>Name:</th>
            <th>Price:</th>
            <th>Qty:</th>
        </thead>
        <tr *ngFor="let events of goods" (click)="editRow(events)">
            <td>{{events.id}}</td>
            <td><img src="{{events.url}}" style="height:75px;"></td>
            <td>{{events.name}}</td>
            <td>{{events.price | currency:'USD'}} </td>
            <td>{{events.Qty}}</td>
            <td class="close" (click)="deleteRow(events)"></td>
        </tr>
    </table>
    <!-- Загрузочный спиннер -->
    <div class="spinner-container" *ngIf="resourcesLoaded === false">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="itemsPerPage"
        [(page)]="page" [boundaryLinks]="false" (pageChange)="onPageChanged($event)"></ngb-pagination>
</div>
