<div class="main">
  <div class="catalog">
    <app-catalog 
    (clickCategoryName)="onAClicked($event)" 
    (clickCategoryId)="onAClickedCategoryId($event)"
    (eventUpdateTableFromCatalog)="goodsComponent.loadPage($event)"
    ></app-catalog>
  </div>
  <div class="goods">
    <app-goods #goodsComponent [categoryName]="categoryName" [categoryId]="categoryId" (goodFromGoodsComponent)="onAClickedgoodFromGoodsComponent($event)"></app-goods>
  </div>
  <div class="details">
    <app-details (eventUpdateTableFromDetails)="goodsComponent.loadPage()" [categoryId]="categoryId" [goodFromGoodsComponent]="goodFromGoodsComponent"></app-details>
  </div>
</div>
