<div style="height: 100px; display: flex; justify-content: center; align-items: center;">Details</div>
<div style="display:flex; flex-direction: column; margin: 0 50px;">
  <div>
    <span>Foto</span>
    <img src="assets/images/shoes1.jpg" style="width:100px;">
    <button class="btn btn-success">Upload</button>
  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="name" value="" #goodName>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="price" value="" #goodPrice>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="categoryId" #goodCategoryId value="{{categoryId}}">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Qty" value="" #goodQty>
  </mat-form-field>

  <div style="display: flex;justify-content: center;">
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="button" (click)="addGood(goodName.value, goodPrice.value, goodCategoryId.value, goodQty.value); goodName.value=''">
      <!--<button (click)="addGood('treee'+ 1 + 2 + 3); goodName.value=''">-->
      Add
    </button>
  </div>
</div>